In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.model_selection import train_test_split,cross_val_score
from statistics import mean

In [2]:
df=pd.read_csv('D:\\Machine Learning\\kc_house_data.csv')
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180.0,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170.0,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770.0,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050.0,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680.0,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530.0,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310.0,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020.0,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600.0,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020.0,0,2008,0,98144,47.5941,-122.299,1020,1357

In [3]:
y=df['price']
x=df['bedrooms'].values.reshape(-1,1)

In [4]:
X_train,X_test,y_train,y_test=train_test_split(x,y,test_size=0.4)

In [5]:
Linear_model=LinearRegression()

In [6]:
Linear_model.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [7]:
Linear_model.score(X_test,y_test)

0.10183044442989342

In [8]:
cross_val_score_ridge=[]
alpha=[]

In [9]:
for i in range(1,9):
    ridgeModel=Ridge(alpha=i*0.25)
    ridgeModel.fit(X_train,y_train)
    scores=cross_val_score(ridgeModel,x,y,cv=10)
    avg_cross_val_score=mean(scores)*100
    cross_val_score_ridge.append(avg_cross_val_score)
    alpha.append(i*0.25)

In [10]:
for i in range(0,len(alpha)):
    print(str(alpha[i])+':'+str(cross_val_score_ridge[i]))

0.25:9.161769919450649
0.5:9.161774802094591
0.75:9.161779680233046
1.0:9.16178455386642
1.25:9.16178942299511
1.5:9.161794287619497
1.75:9.161799147739998
2.0:9.161804003357

In [11]:
cross_val_score_lasso=[]
alpha1=[]

In [17]:
for i in range(1,10):
    lassoModel=Lasso(alpha=i*0.25)
    lassoModel.fit(X_train,y_train)
    scores=cross_val_score(lassoModel,x,y,cv=10)
    avg_cross_val_score=mean(scores)*100
    cross_val_score_lasso.append(cross_val_score)
    alpha1.append(i*0.25)

In [18]:
for i in range(0,len(alpha1)):
    print(str(alpha1[i])+':'+str(cross_val_score_lasso[i]))

0.25:<function cross_val_score at 0x0000022389F689D8>
0.5:<function cross_val_score at 0x0000022389F689D8>
0.75:<function cross_val_score at 0x0000022389F689D8>
1.0:<function cross_val_score at 0x0000022389F689D8>
1.25:<function cross_val_score at 0x0000022389F689D8>
1.5:<function cross_val_score at 0x0000022389F689D8>
1.75:<function cross_val_score at 0x0000022389F689D8>
2.0:<function cross_val_score at 0x0000022389F689D8>
2.25:<function cross_val_score at 0x0000022389F689D8>
0.25:<function cross_val_score at 0x0000022389F689D8>
0.5:<function cross_val_score at 0x0000022389F689D8>
0.75:<function cross_val_score at 0x0000022389F689D8>
1.0:<function cross_val_score at 0x0000022389F689D8>
1.25:<function cross_val_score at 0x0000022389F689D8>
1.5:<function cross_val_score at 0x0000022389F689D8>
1.75:<function cross_val_score at 0x0000022389F689D8>
2.0:<function cross_val_score at 0x0000022389F689D8>
2.25:<function cross_val_score at 0x0000022389F689D8>