In [1]:
import numpy as nop
import pandas as pd

In [2]:
x=nop.array([[0],[1],[2],[3],[4],[5],[6],[7],[8],[9],[10]])
x.shape

(11, 1)

In [3]:
from sklearn.preprocessing import MinMaxScaler,StandardScaler

In [4]:
minm=MinMaxScaler()
sc=StandardScaler()

In [5]:
x_norm=minm.fit_transform(x)

In [6]:
x_norm

array([[0. ],
       [0.1],
       [0.2],
       [0.3],
       [0.4],
       [0.5],
       [0.6],
       [0.7],
       [0.8],
       [0.9],
       [1. ]])

In [7]:
x_std=sc.fit_transform(x)

In [8]:
x_std

array([[-1.58113883],
       [-1.26491106],
       [-0.9486833 ],
       [-0.63245553],
       [-0.31622777],
       [ 0.        ],
       [ 0.31622777],
       [ 0.63245553],
       [ 0.9486833 ],
       [ 1.26491106],
       [ 1.58113883]])

In [9]:
df1=pd.DataFrame(x,columns=['X'])
df2=pd.DataFrame(x_norm,columns=['X_norm'])
df3=pd.DataFrame(x_std,columns=['X_std'])
df4=pd.concat([df1,df2,df3],axis=1)
df4

     X  X_norm     X_std
0    0     0.0 -1.581139
1    1     0.1 -1.264911
2    2     0.2 -0.948683
3    3     0.3 -0.632456
4    4     0.4 -0.316228
5    5     0.5  0.000000
6    6     0.6  0.316228
7    7     0.7  0.632456
8    8     0.8  0.948683
9    9     0.9  1.264911
10  10     1.0  1.581139

In [10]:
def split_data(df,test_size=0.2):
    td=df.shape[0]
    test_data_size=int(np.ceil(td*test_size))
    train_data_size=td.test_data_size
    dff=np.random.shuffle(x)
    dff=pd.

     X  X_norm     X_std
0    0     0.0 -1.581139
1    1     0.1 -1.264911
2    2     0.2 -0.948683
3    3     0.3 -0.632456
4    4     0.4 -0.316228
5    5     0.5  0.000000
6    6     0.6  0.316228
7    7     0.7  0.632456
8    8     0.8  0.948683
9    9     0.9  1.264911
10  10     1.0  1.581139